# pandas DataFrame 조사
DataFrame의 내용을 빠르게 조사 할 경우에 이 내용이 유용합니다.
pandas 라이브러리를 import 하고, 이어서 공항에 대한 정보를 포함하는 DataFrame을 생성해 보겠습니다.

In [1]:
import pandas as pd

In [2]:
airports = pd.DataFrame([
                        ['Seatte-Tacoma', 'Seattle', 'USA'],
                        ['Dulles', 'Washington', 'USA'],
                        ['Heathrow', 'London', 'United Kingdom'],
                        ['Schiphol', 'Amsterdam', 'Netherlands'],
                        ['Changi', 'Singapore', 'Singapore'],
                        ['Pearson', 'Toronto', 'Canada'],
                        ['Narita', 'Tokyo', 'Japan']
                        ],
                        columns = ['Name', 'City', 'Country']
                        )

airports

            Name        City         Country
0  Seatte-Tacoma     Seattle             USA
1         Dulles  Washington             USA
2       Heathrow      London  United Kingdom
3       Schiphol   Amsterdam     Netherlands
4         Changi   Singapore       Singapore
5        Pearson     Toronto          Canada
6         Narita       Tokyo           Japan

## 첫 *n* 행 리턴
수천 개의 많은 row들 있는 경우, 처음 몇 행만 보고 싶을 수 있습니다.

* **head**(*n*)는 상위 *n* 행을 리턴합니다.

In [3]:
airports.head(3)

            Name        City         Country
0  Seatte-Tacoma     Seattle             USA
1         Dulles  Washington             USA
2       Heathrow      London  United Kingdom

## 마지막 *n* 행 리턴
DataFrame의 마지막 행을 보는 것은 모든 데이터가 올바르게 로드 되었는지 체크하는 좋은 방법입니다.
* **tail**(*n*)은 마지막 *n* 행을 리턴합니다.

In [4]:
airports.tail(3)

      Name       City    Country
4   Changi  Singapore  Singapore
5  Pearson    Toronto     Canada
6   Narita      Tokyo      Japan

## DataFrame의 row 및 column 수 확인
DataFrame에 얼마나 많은 데이터가 있는지 체크할때 사용합니다.
* **shape**는 row과 column의 수를 리턴합니다.

In [5]:
airports.shape

(7, 3)

## DataFrame 에 대한 자세한 정보 얻기

* **info**()는 DataFrame에 대한 자세한 정보를 리턴합니다.

리턴되는 정보
* row 수 및 index 값 범위
* column 수
* 각 column에 대해: column 이름, null이 아닌 값의 개수, datatype 정보가 리턴됩니다.

In [6]:
airports.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Name     7 non-null      object
 1   City     7 non-null      object
 2   Country  7 non-null      object
dtypes: object(3)
memory usage: 296.0+ bytes