# pandas Series와 DataFrame

## pandas
**pandas**는 데이터 분석을 수행할 수 있는 여러 데이터 구조(data structure)와 도구가 포함 된 오픈 소스 Python 라이브러리입니다.

In [1]:
import pandas as pd

## Series
pandas **Series**는 1차원 배열을 저장 가능하고 Python list와 유사합니다.

In [2]:
airports = pd.Series([
                      'Seattle-Tacoma', 
                      'Dulles', 
                      'London Heathrow', 
                      'Schiphol', 
                      'Changi', 
                      'Pearson', 
                      'Narita'
                      ])

# 노트북을 사용할 때 print 문을 사용할 수 있습니다.
# print(airports) 으로 변수 내용을 출력, 검사 할 수 있습니다.
# 또는 개체 이름을 셀에 입력하여 화면에 값을 출력 할 수 있습니다.

airports

0     Seattle-Tacoma
1             Dulles
2    London Heathrow
3           Schiphol
4             Changi
5            Pearson
6             Narita
dtype: object

index를 사용하여 Series의 개별 값을 참조 가능합니다.

In [3]:
airports[2]

'London Heathrow'

Loop를 사용해 Series 의 모든 값을 iterate 할 수 있습니다.

In [4]:
for value in airports:
    print(value)

Seattle-Tacoma
Dulles
London Heathrow
Schiphol
Changi
Pearson
Narita

## DataFrame
pandas로 작업 할 때, 대부분의 경우 2 차원 배열을 다루게 됩니다.
Pandas ** DataFrame **은 2 차원 array를 저장할 수 있습니다.

In [5]:
airports = pd.DataFrame([
                        ['Seatte-Tacoma', 'Seattle', 'USA'],
                        ['Dulles', 'Washington', 'USA'],
                        ['London Heathrow', 'London', 'United Kingdom'],
                        ['Schiphol', 'Amsterdam', 'Netherlands'],
                        ['Changi', 'Singapore', 'Singapore'],
                        ['Pearson', 'Toronto', 'Canada'],
                        ['Narita', 'Tokyo', 'Japan']
                        ])

airports

                 0           1               2
0    Seatte-Tacoma     Seattle             USA
1           Dulles  Washington             USA
2  London Heathrow      London  United Kingdom
3         Schiphol   Amsterdam     Netherlands
4           Changi   Singapore       Singapore
5          Pearson     Toronto          Canada
6           Narita       Tokyo           Japan

** columns ** 파라미터를 사용하여 DataFrame을 만들 때 column의 이름을 지정 가능합니다.

In [6]:
airports = pd.DataFrame([
                        ['Seatte-Tacoma', 'Seattle', 'USA'],
                        ['Dulles', 'Washington', 'USA'],
                        ['London Heathrow', 'London', 'United Kingdom'],
                        ['Schiphol', 'Amsterdam', 'Netherlands'],
                        ['Changi', 'Singapore', 'Singapore'],
                        ['Pearson', 'Toronto', 'Canada'],
                        ['Narita', 'Tokyo', 'Japan']
                        ],
                        columns = ['Name', 'City', 'Country']
                        )

airports

              Name        City         Country
0    Seatte-Tacoma     Seattle             USA
1           Dulles  Washington             USA
2  London Heathrow      London  United Kingdom
3         Schiphol   Amsterdam     Netherlands
4           Changi   Singapore       Singapore
5          Pearson     Toronto          Canada
6           Narita       Tokyo           Japan